.navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: black;
}
.mid{
  display: flex;
  align-items: center;
  gap: 90px;
}
.mid a{
  text-decoration: none;
  color: white;
}

.right button{
  background-color: teal;
  color: white;
  border-radius: 20px;
  padding:7px 30px;
  border: none;
}